.delete-button {
    position: absolute;
    top: 18px;
    right: 15px;
    background-image: url(../../images/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 18px;
    height: 19.3px;
    border-style: none;
    padding: 0;
    transition: opacity .5s ease 0.5s;
    cursor: pointer;
}

.delete-button:hover {
    opacity: 0.6;
}