.footer {
    min-width: 282px;
    max-width: 880px;
    margin: 48px 0 0 19px;
    padding-bottom: 36px;
}

@media screen and (min-width: 768px) {
    .footer {
        min-width: 318px;
        margin: 67px 0 0 19px;
        padding-bottom: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .footer {
        margin: 67px 0 0 200px;
    }
}