.card {
    position: relative;
    margin: 20px auto 0;
    max-width: 282px;
    border-radius: 10px;
    background: #FFFFFF;
    display: grid;
    grid-template-columns: 189px 1fr;
    grid-template-rows: 282px 79px;
    grid-template-areas: "card__image card__image" "card__name card__like-block";
}

@media screen and (min-width: 768px) {
    .card {
        margin: 0;
    }
}

.card:first-child {
    margin-top: 0;
}